
      <h2>Admin Tools</h2>
      <div class="admin-load-bar mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
      <% if @admin_message != 'index' %>
        <div class="admin-announcement">
          <%= @admin_message %>
        </div>
      <% end %>
      <br>
      

      <%= button_to "Clear User DB", {:action => "clearUserDB"} %>

      <%= button_to "Clear entries DB", {:action => "clearEntryDB"} %>

      <%= button_to "Add Genres to Anime", {:action => "importGenres"} %>

      <%= button_to "Import anime 1-10000", {:action => "importAnime"} %>

      <%= button_to "Clear anime DB", {:action => "clearAnimeDB"} %>
