<%= stylesheet_link_tag 'user/general' %>

<div class="name-container">
  <div class="profile_link"><a class="link" href=<%= @cur_user.hm_dash_url %>>Profile</a></div>
  <h2 class="name"><%= @cur_user.name.capitalize %></h2>
  <div class="library_link"><a class="link" href=<%= @cur_user.hm_library_url %>>Library</a></div>
</div>

<div class="cover_image" style="background: url(<%= @cur_user.cover_image %>) no-repeat; background-size: cover;" >
  <img class="avatar" src="<%= @cur_user.avatar %>" />
</div>

<div class="time_container">
  <span><%= @timeString %></span>
</div>


<div class="refresh_container">
  <%= link_to "Refresh Data" , {controller: "user",  action: "refreshData"}, class: "refresh_link" %>
</div>

<script type="text/javascript">
    var db_show_count = <%= @db_show_count %>
    var user_show_count = <%= @user_show_count %>
    var db_episode_count = <%= @db_episode_count %>  
    var user_episode_count = <%= @user_episode_count %>      
  </script>
  <%= javascript_include_tag 'user/general' %>
   
<!-- # Main User Tab
# => Favorite with links @user.favorites[x] --!>
#mean score
