<%= stylesheet_link_tag 'user/library' %>

<div id="list_container">
  <input class="search" placeholder="Search" />
  <div class="filter_container">
    <button class="title_button sort" data-sort="title">
      Title
    </button>
    <div class="inner_filter_container">
      <button class="status_button sort" data-sort="status">
        Status
      </button>
      <button class="rating_button sort" data-sort="rating">
        Rating
      </button>
      <button class="community_rating_button sort" data-sort="community_rating">
        Public Rating
      </button>
    </div>
  </div>

  <ul class="list">
    <% @cur_user_list.each_with_index do |list_item, index| %>
      <li>
        <a href="https://hummingbird.me/anime/<%=list_item.hm_id %>"><div class="title list_item"><%= list_item.title %></div></a>
        <div class="inner_list_container">
          <div class = "episodes_watched list_item"><%= list_item.episodes_watched %> / <%= list_item.anime.episode_count %></div>
          <div class="status list_item"><%= list_item.status.capitalize %></div>
          <div class="rating list_item"><%= list_item.rating %></div>
          <div class="community_rating list_item"><%= list_item.anime.community_rating.round(1) %></div>
        </div>
      </li>
    <% end %>
  </ul>

</div>

<%= javascript_include_tag 'listjs' %>
<%= javascript_include_tag 'user/library' %>
