<% content_for :general do %>
  <section class="mdl-grid">
    <div class="info-card mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--3dp">
      <div class="mdl-user__title mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text"><%= @cur_user.name.capitalize %></h2>
      </div>
      <div class="user-header" style="background: url(<%= @cur_user.cover_image %>) center / cover; height:300px;">
        <div class="profile-image" style="background: url(<%= @cur_user.avatar %>); background-size: 110px 110px;">
        </div>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="user-timeString"><%= @timeString %></span>
        <a href=<%= @dashboardURL %>>Profile</a>
        <a href=<%= @libraryURL %>>Library</a>
        Mean Score: <%= @meanScore %>
        Total Titles Watched: <%= @numEntries %>
        Total Episodes Watched: <%= @episodesWatched %>
      </div>
    </div>
  </section>
<% end %>

<% content_for :animeList do %>
  <section class="mdl-grid">
    <div class="info-card mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--3dp">
      <div class="mdl-card__title mdl-cajs-textfield">
        <form action="#">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="sample1" />
            <label class="mdl-textfield__label" for="sample1">Search...</label>
          </div>
        </form>
      </div>
      <div class="mdl-card__supporting-text">
        <% @cur_userList.each_with_index do |listItem, index| %>
          <div class="row row-anime anime-<%=index%>" >
            <div class="col s12"><%= listItem.title %></div>
          </div>
        <% end %>
    </div>
    </div>
  </section>
<% end %>



<% content_for :ratings do %>
  <h1> Page 3</h1>
<% end %>



<% content_for :trends do %>

  <section class="mdl-grid">
    <div class="info-card mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone mdl-shadow--3dp">
      <div class="mdl-card__supporting-text">
        <div class="mdl-card__title mdl-card--border">
          <h2 class="mdl-card__title-text">Shows Completed</h2>
        </div>
          <div id="show_status_barchart"></div>
        <div class="mdl-card__title mdl-card--border">
          <h2 class="mdl-card__title-text">Rating Distribution</h2>
        </div>
        <div id="rating_distribution_line"></div>
        <div class="mdl-card__title mdl-card--border">
          <h2 class="mdl-card__title-text">Time of Day vs. Shows Compeleted</h2>
        </div>        
        <div id="count_to_date_heatmap"></div>
        <div class="mdl-card__title mdl-card--border">
          <h2 class="mdl-card__title-text">Library Entries by Air Date</h2>
        </div>
        <div id="year_aired_line"></div>
      </div>
    </div>
  </section>
<% end %>



<% content_for :history do %>
  <h1> Page 5</h1>
<% end %>