
    <div class="">
      <h2>Shows Completed</h2>
    </div>
      <div id="show_status_barchart"></div>
    <div class="">
      <h2>Rating Distribution</h2>
    </div>
    <div id="rating_distribution_line"></div>
    <div class="">
      <h2>Watch History</h2>
    </div>        
    <div id="count_to_date_heatmap"></div>
    <div class="">
      <h2>Library Entries by Air Date</h2>
    </div>
    <div id="year_aired_line"></div>
    <div class="">
      <h2>Types of Anime Watched</h2>
    </div>
    <div id="show_type_pie"></div>
    <div class="">
      <h2>Mean Rating by Year</h2>
    </div>
    <div id="year_rating_line"></div>


    <script type="text/javascript">
      var show_status_array = <%= raw @show_status_array %>
      var month_count_array = <%= raw @month_count_array %>
      var rating_count_array = <%= raw @rating_count_array %>
      var year_count_array =  <%= raw @year_count_array %>
      var anime_type_array = <%= raw @anime_type_array %>
      var score_year_array = <%= raw @score_year_array %>
    </script>
    <%= javascript_include_tag 'highcharts/highcharts' %>
    <%= javascript_include_tag 'highcharts/highcharts-more' %>
    <%= javascript_include_tag 'highcharts/heatmap' %>
    <%= javascript_include_tag 'highcharts/exporting' %>
    <%= javascript_include_tag 'highcharts/solid-gauge' %>
    <%= javascript_include_tag 'user/trends' %>

    
    # Trends
    # => Favorite genres @userList[0].anime.genres[]
    # => Favorite age ratings @userlist[0].anime.age_rating
    # => Favorite lengths?
