<!DOCTYPE html>
<html>
<head>
  <title>Flutter ADMIN</title>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'admin' %>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
