<!DOCTYPE html>
<html>
<head>
  <title>Flutter</title>
  <%= javascript_include_tag 'jquery' %>
  <%= stylesheet_link_tag "index", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="outer_extreme">
    <div class="outer">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag 'index' %>
</body>
</html>
