<!DOCTYPE html>
<html>
  <head>
    <title>Flutter</title>
    <%= stylesheet_link_tag "user", :media => "all" %>
    <%= javascript_include_tag 'jquery' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="outer_extreme">
      <div class="outer">
        <div class="info_card logo_container"><img class="logo" src="/assets/flutterlogo.png" alt="flutter" /></div>
          <div class="main_modal" id="tabs">
            <div id='cssmenu'>
              <ul>
                <li><%= link_to "General", {controller: "user",  action: "general"} %></li>
                <li><%= link_to "Library", {controller: "user",  action: "library"} %></li>
                <li><%= link_to "Ratings", {controller: "user",  action: "ratings"} %></li>
                <li><%= link_to "Trends", {controller: "user",  action: "trends"} %></li>
                <li><%= link_to "History", {controller: "user",  action: "history"} %></li>
              </ul>
            </div>
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
